build
.cache
result
.vscode/
CATKIN_IGNORE
CMakeCache.txt
CMakeFiles/
CTestConfiguration.ini
CTestCustom.cmake
CTestTestfile.cmake
Makefile
atomic_configure/
catkin/
catkin_generated/
cmake_install.cmake
devel/

